.container-login {
    display: flex;
    padding-top: 30vh;
}

.login-static-message {
    margin: 1vh 0 3.8vh;
    color: #9E9E9E;

    user-select: none;

    font-family: Inter;
    font-size: 1.7vh;
    font-style: normal;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: visible;

    width: 7.5vh;
    height: 7.5vh;
}

.network-static-message {
    margin: 2vh 5vh 3.8vh;
    color: #9E9E9E;

    font-family: Inter;
    font-size: 1.7vh;
    text-align: center;
    font-style: normal;
}