.component-button {
    width: 30vh;
    min-width: max-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1.2vh;
    padding: 1vh 3.4vh;

    border-radius: var(--button-generic-border-radius);
    border: solid 0.2vh rgba(255, 255, 255, 0.25);
    outline: none;
    background: #212121;

    font-size: clamp(2.4vh, 120%, 2.8vh);

    color: #FAFAFA;
    user-select: none;
    transition: transform 0.2s;
}

.component-button-disabled {
    width: 30vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1.2vh;
    padding: 1vh 3.4vh;

    cursor: not-allowed;

    border-radius: var(--button-generic-border-radius);
    outline: none;
    border: solid 0.2vh rgba(255, 255, 255, 0.25);
    background: #575757;

    font-size: 2vh;

    color: #ffffff;
    user-select: none;
}

.component-button:hover {
    cursor: pointer;
    background: #3b3b3b;
    transform: translateY(-0.2vh);
}

.component-button:active {
    transform: translateY(0.1vh);
}

.component-button:focus-visible {
    background-color: #3b3b3b;
    outline: solid 0.4vh #9f9f9f;
}

.option-button {
    width: 100%;
    /* height: 5vh; */
    min-height: 33px;

    font-size: clamp(2vh, 12px, 14px);

    justify-content: flex-start;

    padding: 0.5vh 1vh;
    color: #bcbcbc;
}

.option-button div {
    position: relative;
    aspect-ratio: 1/1;
    height: clamp(2vh, 12px, 14px);
    min-width: min-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.option-button div img {
    aspect-ratio: 1/1;
    position: absolute;

    height: 130%;
    border-radius: 50%;
    outline: solid 0.2vh #9f9f9f;
}

.selected-button {
    color: #fafafa;
}

.file-export-button {
    width: 100%;
    color: #212121;
    background-color: #fafafa;

    text-align: start;
    justify-content: flex-start;
    padding: 0.5vh;
}

.file-export-button:hover {
    cursor: pointer;
    background: #dadada;
    transition: transform 0.2s;
    transform: translateY(-0.2vh);
}

.file-export-button:active {
    transform: translateY(0.1vh);
}

.file-export-button:focus-visible {
    background-color: #ededed;
    outline: solid 0.4vh #bebebe;
}