.component-button {
    width: 30dvh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1.2dvh;
    padding: 1dvh 3.4dvh;

    border-radius: 1dvh;
    outline: none;
    background: #212121;

    font-size: 2dvh;

    color: #FAFAFA;
    user-select: none;
}

.component-button-disabled {
    width: 30dvh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1.2dvh;
    padding: 1dvh 3.4dvh;

    cursor: not-allowed;

    border-radius: 1dvh;
    outline: none;
    border: solid 0.2vh rgba(255, 255, 255, 0.750);
    background: #575757;

    font-size: 2dvh;

    color: #ffffff;
    user-select: none;
}

.component-button:hover {
    cursor: pointer;
    background: #3b3b3b;
    transition: transform 0.2s;
    transform: translateY(-0.2dvh);
}

.component-button:active {
    transform: translateY(0.1dvh);
}

.component-button:focus-visible {
    background-color: #3b3b3b;
    outline: solid 0.4dvh #9f9f9f;
}

.option-button {
    width: 100%;
    min-width: 20dvh;
    height: 5dvh;

    justify-content: flex-start;

    padding: 0.5dvh 1dvh;
    color: #bcbcbc;
}

.selected-button {
    color: #fafafa;
}

.file-export-button {
    width: 100%;
    color: #212121;
    background-color: #fafafa;

    text-align: start;
    justify-content: flex-start;
    padding: 0.5dvh 1dvh;
}

.file-export-button:hover {
    cursor: pointer;
    background: #dadada;
    transition: transform 0.2s;
    transform: translateY(-0.2dvh);
}

.file-export-button:active {
    transform: translateY(0.1dvh);
}

.file-export-button:focus {
    background-color: #ededed;
    outline: double 0.4dvh #bebebe;
}