.project-editor-container {
    width: 100%;

    height: max-content;
    min-height: 100%;

    display: flex;

    justify-content: center;
}

.project-visualizer {
    margin: 2dvh 9dvh;
    padding: 2dvh;

    width: 100%;
    height: min-content;

    max-width: 1200px;

    border: solid 0.15dvw rgba(180, 180, 180, 0.812);
    border-radius: 1dvh;
}

.transpiled-text-container {
    margin: 2.5vh;
}

.unification {
    position: "absolute";


    display: "flex";
    flex-direction: "row"
}

.editor-tab {
    position: fixed;
    left: 0%;

    display: flex;

    height: 100dvh;

    max-width: 100dvw;
    max-height: 100dvh;
}

.code-editor {
    width: 51.5dvh;

    padding: 2vh 0;
    display: flex;
    background-color: #1e1e1e;
}

.view-line * {
    font-family: "Fira Code", monospace;
    /* font-weight: 500; */
}

.editor-buttons {
    position: sticky;
    left: 0px;

    height: 100%;

    min-width: min-content;
    min-height: min-content;

    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.close-button {
    aspect-ratio: 1/1;

    width: 5dvh;
    min-width: 33px;
    min-height: 33px;

    margin: 0 2vh;

    border-radius: 1dvh;
    outline: none;
    border: solid 0.2vh rgba(255, 255, 255, 0.25);
    background: #212121;

    font-size: max(75%, 2dvh);

    cursor: pointer;

    color: #FAFAFA;
    user-select: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1dvh
}

form :is(input, textarea) {
    user-select: none;
    touch-action: none;

    resize: none;

    padding: 0.9dvh 0.5dvh;

    border-radius: 1dvh;
    outline: none;
    border: none;

    background: #fafafa;

    border: solid 0.1dvh rgba(146, 146, 146, 0.719);

    font-size: 2dvh;
    color: #212121;
}

.close-button:hover,
.close-button:focus-visible {
    cursor: pointer;
    background-color: #3b3b3b;
    transition: transform 0.2s;
    transform: translateY(-0.2dvh);
}

.close-button:focus-visible {
    background-color: #3b3b3b;
    outline: solid 0.4dvh #9f9f9f;
}

.close-button:active {
    transform: translateY(0.1dvh);
}

@media (max-width: 640px) {
    .project-visualizer {
        margin: 2dvh 3dvh;
        padding: 2dvh;

        width: 100%;
    }

    .editor-tab {
        flex-direction: column-reverse;

        bottom: 0;
    }

    .code-editor {
        flex-direction: column;
        height: 40%;
        width: 100dvw;
    }

    .editor-buttons {
        /* position: absolute; */
        width: 100%;
        height: min-content;

        /* left: initial; */
        /* bottom: 44vh; */

        gap: 1dvh;
        flex-direction: row;
        justify-content: center;
    }

    .close-button {
        margin: 2vh 0;
    }
}

.mobile .project-visualizer {
    margin: 2dvh 2dvh;
    padding: 2dvh;

    width: 100%;
}

.mobile .editor-tab {
    flex-direction: column-reverse;

    bottom: 0;
}

.mobile>* .code-editor {
    flex-direction: column;
    height: 40%;
    width: 100dvw;
}

.mobile>* .editor-buttons {
    /* position: absolute; */
    width: 100%;
    height: min-content;

    left: initial;
    /* bottom: 44vh; */

    gap: 1dvh;
    flex-direction: row;
    justify-content: center;
}

.mobile>* .close-button {
    margin: 2vh 0;
}