.project-editor-container {
    width: 100%;

    height: max-content;
    min-height: 100%;

    display: flex;

    justify-content: center;
}

.project-visualizer {
    margin: 2vh 9vh;
    padding: 2vh;

    width: 100%;
    height: max(100%, fit-content);

    max-width: 1200px;

    border: solid 0.15vw rgba(180, 180, 180, 0.812);
    border-radius: var(--button-generic-border-radius);
}

.transpiled-text-container {
    margin: 2.5vh;
}

.unification {
    position: "absolute";

    display: "flex";
    flex-direction: "row"
}

.editor-tab {
    position: fixed;

    z-index: 2;

    left: 0%;

    display: flex;

    height: 100dvh;

    max-width: 100vw;
    max-height: 100dvh;
    pointer-events: none;
}

.code-editor {
    width: 51.5vh;

    padding: 2vh 0;
    display: flex;
    background-color: #1e1e1e;

    pointer-events: all;
}

.view-line * {
    font-family: "Fira Code", monospace;
    /* font-weight: 500; */
}

.editor-buttons {
    position: relative;
    left: 0px;

    height: 100%;

    min-width: min-content;
    min-height: min-content;

    display: flex;
    flex-direction: column;
    gap: 1vh;

    pointer-events: all;
}

.close-button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1/1;

    z-index: 2;

    width: 5vh;
    min-width: 33px;
    min-height: 33px;

    margin: 0 2vh;

    border-radius: var(--button-generic-border-radius);
    outline: none;
    border: solid 0.2vh rgba(255, 255, 255, 0.25);
    background: #212121;

    font-size: max(75%, 2vh);

    cursor: pointer;

    color: #FAFAFA;
    user-select: none;
}

.close-button {
    text-align: center;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1vh
}

form :is(input, textarea) {
    user-select: none;
    touch-action: none;

    resize: none;

    padding: 0.9vh 0.5vh;

    border-radius: var(--button-generic-border-radius);
    outline: none;
    border: none;

    background: #fafafa;

    border: solid 0.1vh rgba(146, 146, 146, 0.719);

    font-size: 2vh;
    color: #212121;
}

.close-button:hover,
.close-button:focus-visible {
    cursor: pointer;
    background-color: #3b3b3b;
    transform: translateY(-0.2vh);
    transition: transform 0.2s;
}

.close-button:focus-visible {
    background-color: #3b3b3b;
    outline: solid 0.4vh #9f9f9f;
}

.close-button:active {
    transform: translateY(0.1vh);
}

.not-found * {
    margin: 0 25px;
    text-align: center;
}

@media (max-width: 640px) {
    .project-visualizer {
        margin: 2vh 3vh;
        padding: 2vh;

        width: 100%;
    }

    .editor-tab {
        flex-direction: column-reverse;

        bottom: 0;
    }

    .code-editor {
        flex-direction: column;
        height: 40%;
        width: 100vw;
    }

    .editor-buttons {
        /* position: absolute; */
        width: 100%;
        height: min-content;

        /* left: initial; */
        /* bottom: 44vh; */

        gap: 1vh;
        flex-direction: row;
        justify-content: center;
    }

    .close-button {
        margin: 2vh 0;
    }
}

.mobile .project-visualizer {
    margin: 1vh;
    padding: 1vh;

    border: none;

    width: 100%;

    margin-bottom: 10vh;
}

.mobile .editor-tab {
    flex-direction: column-reverse;

    bottom: 0;
}

.mobile>* .code-editor {
    flex-direction: column;
    height: 40%;
    width: 100vw;
}

.mobile>* .editor-buttons {
    /* position: absolute; */
    width: 100%;
    height: min-content;

    left: initial;
    /* bottom: 44vh; */

    gap: 1vh;
    flex-direction: row;
    justify-content: center;
}

.mobile>* .editor-buttons>* {
    position: relative;
    max-width: 5vh;
    max-height: 5vh;

    margin: 0;
    margin-bottom: 2vh;
}

.mobile>* .editor-buttons>.bottom-modal {
    order: 10;
    position: relative;

    max-width: 5vh;
    max-height: 5vh;

    min-width: 33px;
    min-height: 33px;
}

.mobile>* .editor-buttons>.bottom-modal #bottom-button {
    aspect-ratio: 1/1 !important;
    padding: 0.5vh;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.mobile>* .close-button {
    margin: 0 0 2vh 0;
}

.editor-buttons .bottom-modal .hide-bottom-modal,
.editor-buttons .bottom-options-modal-container .modal-body {
    top: -44%;
}

.silent-loading-button div {
    overflow: visible;
    height: 50%;
    width: 50%;
}

.deactivated:hover,
.deactivated:focus-visible {
    cursor: not-allowed;
    background-color: #3b3b3b;
    transition: none;
    transform: none;
}

.deactivated:focus-visible {
    background-color: #3b3b3b;
    outline: solid 0.4vh #b57676;
}

.deactivated:active {
    transform: none;
}