.project-name {
    max-width: max-content;

    color: #334455;
    font-family: Inter;
    font-weight: 300;
    font-size: clamp(120%, 4vh, 175%);

    overflow: hidden;
    text-overflow: ellipsis;
}

.project-name::after {
    content: "cheatsheets";
    color: #778ca1;

    margin-left: 25px;
}

.card-outer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subject-name {
    position: relative;
    z-index: 1;
    max-width: max-content;
}

.subject-name::before {
    content: "#";
    font-weight: 200;
    color: #334455;
}

.subject-name::after {
    content: "";
    position: absolute;
    bottom: -1px;

    z-index: 0;

    right: 0;
    left: unset;

    width: 0%;

    border-bottom: 2px solid #506983db;

    transition: width 0.2s ease-in-out;
}

.card-outer-container:hover .subject-name::after {
    right: unset;
    left: 0;

    width: 100%;
    text-decoration: underline;
    text-decoration-color: #506983;
}

.card-outer-container {
    max-width: 100%;
}

.card-outer-container> :nth-child(2) {
    width: unset;
}

.rendered-card {
    background-color: #e4e4e4 !important;
    border-radius: 4px;
}

.rendered-card-title {
    padding: 5px 10px 2px;
}

.rendered-card-header {
    padding: 2px 10px 5px;
}

.rendered-card-body> :nth-child(odd) {
    background-color: #f9f8fa;
}

.rendered-card-body> :nth-child(even) {
    background-color: #ffffff;
}

.rendered-card-body :first-child {
    border-radius: 4px 4px 0 0;
}

.rendered-card>*> :not(:last-child) {
    border-bottom: 1px solid #bbbbbb;
}

.rendered-card *> :last-child {
    border-radius: 0 0 4px 4px;
}

.rendered-card-body>* {
    padding: 10px;
}

.rendered-card-body * :is(p) {
    display: inline;
}

.rendered-card-body div {
    padding: 0;
    padding-top: 7px;
}

.rendered-card-body div p {
    padding: 10px;
}

.rendered-card-body div pre {
    max-width: 100%;
    padding: 5px 10px 10px !important;
}

.rendered-card-body div pre * {
    font-size: 90%;
}

.rendered-card-body div pre code {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.rendered-card h3 {
    font-size: 85%;
}

.rendered-card p {
    font-size: 75%;
}

.rendered-card h4 {
    font-size: 75%;
}

.rendered-card-footer {
    padding: 5px 10px;
    background-color: #c9c9c9;

    border-radius: 0 0 4px 4px;
}

/* Holograms */

.hologram-container {
    position: relative;

    max-height: min-content;

    display: flex;
    justify-content: center;
}

.content-fields {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 4px;

    transition: height 0.2s;
}


.content-fields form {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 2px;

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #e4e4e4;
    border-radius: 4px;
}

.content-fields form :is(input, textarea) {
    user-select: none;
    touch-action: none;

    padding: 6px 4px;

    border-radius: 4px;
    outline: none;
    border: none;

    background: #fafafa;

    border: solid 1px rgba(146, 146, 146, 0.719);

    font-size: 75%;
    color: #212121;
}

.content-fields form :is(input, textarea):focus {
    border: solid 1px rgb(104, 104, 104);
}

.content-fields form :is(button, input[type='button'], textarea):hover {
    border: solid 1px rgb(104, 104, 104);
    cursor: pointer;
}

.deletable-content-field {
    position: relative;

    display: flex;
    align-items: center;

    min-width: 100%;
    max-width: 100%;
}

.deletable-content-field :is(input, textarea) {
    width: 100%;
}

.deletable-content-field button {
    position: absolute;

    aspect-ratio: 1/1;
    width: 20px;

    right: 4px;
    top: 4px;

    background-color: transparent;
    border: solid 1px rgba(146, 146, 146, 0.719);
    border-radius: 3px;

    color: red;
}

.project-visualizer .hologram {
    display: grid;
    cursor: pointer;
    place-items: center;

    background-color: #e4e4e4;
    border: solid 1px #aaaaaa;
    border-radius: 4px;

    min-height: 50px;

    opacity: 0.75;

    text-align: center;
    font-weight: 500;
    color: #000000;

    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
}

.hologram:hover {
    background-color: #dedede;
}

.project-visualizer:hover .hologram,
.project-visualizer:focus-within .hologram {
    opacity: 0.75;
}

.card-outer-container .card-hologram {
    position: absolute;

    width: 100%;
    height: 100%;

    opacity: 0.75;
}

.card-outer-container .hologram-container {
    opacity: 0.75;
    transition: opacity 0.2s, color 0.2s;
}

.card-outer-container:hover :is(.hologram-container, .card-hologram),
.card-outer-container:focus-within :is(.hologram-container, .card-hologram) {
    opacity: 1;
}

.card-hologram:hover {
    opacity: 0.75;
}

.card-hologram:active {
    background-color: #e4e4e4;
    border: solid 1px #aaaaaa;

    opacity: 1;
}

.content-fields {
    /* position: absolute; */

    display: flex;
    flex-direction: column;
}

.subject-hologram {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;

    padding: 0.5%;
}

.subject-hologram:hover {
    color: #000000;

    opacity: 0.75;
}

.subject-hologram:active {
    background-color: #e4e4e4;
    border: solid 1px #aaaaaa;

    opacity: 1;
}

.subject-hologram-container .content-fields {
    display: flex;
    align-items: center;
}

.subject-hologram-container form {
    max-width: min(100%, 350px);
}