.not-found {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: #818181;

    margin-top: 30vh;
}

.not-found i {
    font-size: 80px;
    color: #212112;
}