.bottom-modal {
    position: fixed;
    bottom: 0;
    right: 0;

    pointer-events: none;

    display: flex;
    flex-direction: column-reverse;

    align-items: flex-end;

    gap: 1vh;

    margin: 2vh;
}

.bottom-modal button {
    pointer-events: all;
}

.user-select-background {
    position: fixed;
    top: 0%;

    z-index: 10;

    width: 100dvw;
    height: 100dvh;
}

.visibility-container {
    padding-top: 1vh;
    overflow: visible;
    /* overflow-y: clip; */
}

.vertical-visibility-container {
    position: absolute;
    right: max(20dvh, 115px);
    padding: 0 1dvh 1dvh 1dvh;

    overflow: visible;
    /* overflow-x: clip; */
}

.vertical-visibility-container div {
    pointer-events: all;
}

#bottom-button {
    aspect-ratio: 1/1;

    padding: 0.5vh;

    min-width: 33px;
    min-height: 33px;

    max-width: 5vh;
    height: 5vh;
}

.options-menu {
    min-width: max-content;
    min-height: min-content;

    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.option {
    display: flex;
    flex-direction: row;

    height: min-content;
    min-width: 33px;
    min-height: 33px;

    height: 5dvh;
}

.option-panel {
    width: 25dvh;
    height: min-content;

    min-width: 120px;
    max-width: 40vw;
    min-height: fit-content;

    display: flex;
    flex-direction: column;

    gap: 1.2dvh;
    padding: clamp(1.5vh, 12px, 1vh);

    user-select: none;
    touch-action: none;

    border-radius: 1dvh;
    outline: none;
    border: none;

    background: #FAFAFA;

    font-size: clamp(2dvh, 12px, 14px);

    text-transform: uppercase;
    color: #989898;
}

.option-panel select {
    width: 100%;

    size: 1dvh;

    font-size: clamp(2dvh, 12px, 14px);

    border-radius: 0.5dvh;
    background-color: #FAFAFA;
    border: 0.2dvh solid #E7E7E7;

    cursor: pointer;
}

.option-panel select:focus {
    outline: none;
    border: 0.2dvh solid #a1a1a1;
}

.user-search-container {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    padding: 3dvh 2.5dvh;
    gap: 1vh;
}

.user-search-container form :is(input, textarea) {
    user-select: none;
    touch-action: none;

    resize: none;

    padding: 6px 4px;

    border-radius: 4px;
    outline: none;
    border: none;

    background: #fafafa;

    border: solid 1px rgba(146, 146, 146, 0.719);

    font-size: 75%;
    color: #212121;
}

.user-search-container form :is(input, textarea):focus {
    border: solid 1px rgb(104, 104, 104);
}

.user-search-container form :is(button, input[type='button']):hover {
    border: solid 1px rgb(104, 104, 104);
    cursor: pointer;
}

form label {
    font-size: 75%;
}

.user-invite-item {
    position: relative;

    display: flex;
    flex-direction: row;

    gap: 4px;

    background-color: #fff;

    color: #323232;
    padding: 1.5dvh 1dvh;

    align-items: center;

    border-radius: 4px;
}

.user-invite-item:hover {
    outline: solid 1px#a1a1a1;
    cursor: pointer;
    background-color: #f5f5f5;
}

.user-identifier {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    gap: 4px;
}

.user-invite-item-email {
    font-size: 80%;
}

.user-identifier h4 {
    font-size: 90%;
}

.user-identifier .dot {
    line-height: 90%;
}

.user-identifier p {
    font-size: 75%;
    line-height: 130%;
}

.user-invite-item img {
    background: rgb(204, 204, 204);
    border-radius: 50%;
    aspect-ratio: 1/1;

    width: 40px;
    height: 40px;
}


.user-invite-item-email {
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-select:hover {
    outline: none;
    cursor: unset;
    background-color: unset;
}

.loading {
    cursor: progress;
}

.invite-this-user {
    position: absolute;
    top: 50%;
    z-index: 0;
    transform: translateY(-50%);
}

.invite-this-user .paper {
    display: flex;
    flex-direction: column;

    min-width: max-content;

    gap: 4px;

    background-color: #fff;

    color: #323232;
    padding: 1.5dvh 1dvh 1dvh;

    border-radius: 4px;
}

.paper form input[type="button"] {
    user-select: none;
    touch-action: none;

    resize: none;

    padding: 4px 2px;

    border-radius: 4px;
    outline: none;
    border: none;

    background: #fafafa;

    border: solid 1px rgba(146, 146, 146, 0.719);

    font-size: 60%;
    color: #212121;
}

.paper form input[type="button"]:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.already-invited {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c8c8c886;
    border-radius: 8px;

    width: 100%;
    height: 100%;
}

.already-invited .content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: calc(100% - 8px);
    height: calc(100% - 8px);

    outline: dashed 1px #7f7f7f;
    border-radius: 4px;
}

.already-invited .content * {
    aspect-ratio: 1/1;

    background-color: #fafafa;
    border: dashed 1px #7f7f7f;
    border-radius: 4px;

    padding: 4px;

    text-align: center;
}