.App {
    height: 100dvh;

    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circular-image {
    height: 10vh;

    border-radius: 50%;
}

.not-loading-page {
    min-height: "100vh";
    min-width: "100vw";
    display: 'flex';
    flex-direction: "column";
    justify-content: "center";
    align-items: "center";
}

.popup-container {
    user-select: none;
    touch-action: none;

    resize: none;

    padding: 0.9vh 0.5vh;

    border-radius: var(--button-generic-border-radius);
    outline: none;
    border: none;

    background: #fafafa;

    border: solid 0.1vh rgba(146, 146, 146, 0.719);

    font-size: 2vh;

    color: #212121;
}

.centralized-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.material-symbols-rounded {
    font-size: 120%;
}