.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards-page-title {
    width: 90dvw;
    height: min-content;


    text-align: start;

    margin: 5.65dvh 0 0 0;

    font-size: 2.7dvh;
}

.cards-page {
    height: max-content;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    width: 90dvw;

    margin-top: 2.25rem;
    margin-bottom: 5dvh;

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.card-container {
    aspect-ratio: 1/1;
    min-width: 180px;
    width: min-content;

    display: flex;
    justify-content: flex-end;

    /* border: dashed 1px red; */
    cursor: pointer;
}

.cards-container a {
    color: #212121;
    outline: none;
}

.cards-container a:focus {
    transition: 0.2s all;
    transform: scale(1.05);
}

.card-paper-text {
    max-width: 150px;
    max-height: 150px;

    text-overflow: ellipsis;
    overflow: hidden;

    font-family: 'Covered By Your Grace', cursive;
    font-size: 25.41px;
    line-height: 25px;
    color: #212121;

    user-select: none;
    text-align: center;
}

.card-paper {
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 160px;

    transform: rotate(7.35deg) translateX(-10px) translateY(-10px);

    position: absolute;
    background-color: #fafafa;
    transition: 0.2s transform;
    cursor: pointer;
}

.card-paper-shadow {
    min-width: 157px;
    min-height: 170px;

    transform: rotate(3.56deg) translateX(-5px) translateY(-4.86px);

    position: absolute;
    background-color: #D8D8D8;
    transition: 0.2s transform, 0.2s min-width, 0.2s min-height;
}

.card-container:hover .card-paper {
    transform: rotate(4deg) translateX(-5.3px) translateY(-6px);
}

.card-container:hover .card-paper-shadow {
    min-height: 167px;
    transform: rotate(1.56deg) translateX(-2px) translateY(-2px);
}

.card-container:active .card-paper {
    transform: rotate(1deg) translateX(0px) translateY(-2px);
}

.card-container:active .card-paper-shadow {
    min-height: 157px;
    min-width: 157px;
    opacity: 0.75;
    transform: rotate(1deg) translateX(-0.7px) translateY(-0.8px);
}

.create-card-container {
    display: flex;
    gap: 1dvh;

    flex-direction: column;

    padding: 2.5dvh 4dvh 4dvh 4dvh;
    height: min-content;

    max-width: 90dvw;
    max-height: 90dvh;

    background-color: #fafafa;
    border-radius: 1dvh;
}

.create-card-container form {
    display: flex;
    flex-direction: column;
    gap: 1dvh
}

.create-card-container input,
.create-card-container textarea {
    user-select: none;
    touch-action: none;

    resize: none;

    padding: 0.9dvh 0.5dvh;

    border-radius: 1dvh;
    outline: none;
    border: none;

    background: #fafafa;

    border: solid 0.1dvh rgba(146, 146, 146, 0.719);

    font-size: 2dvh;
    color: #212121;
}


@media (max-width: 460px) {
    .card-paper-text {
        max-width: 100%;
        max-height: 100%;

        text-overflow: ellipsis;
        overflow: hidden;

        font-family: 'Covered By Your Grace', cursive;
        font-size: 4dvh;
        line-height: 25px;
        color: #212121;

        user-select: none;
        text-align: center;
    }

    .cards-container {
        width: 90dvw;

        position: relative;
        left: 1.75dvh;

        margin-top: 2.25rem;
        margin-bottom: 5dvh;

        display: grid;
        place-items: center;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-container {
        aspect-ratio: 1/1;
        min-width: 40dvw;
        width: min-content;

        display: flex;
        justify-content: flex-end;

        cursor: pointer;
    }

    .card-paper {
        aspect-ratio: 1/1;

        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 40dvw;
        max-width: 40dvw;

        transform: rotate(7.35deg) translateX(-10px) translateY(-10px);

        position: absolute;
        background-color: #fafafa;
        transition: 0.2s transform;
        cursor: pointer;
    }

    .card-paper-shadow {
        min-width: 40dvw;
        min-height: 41dvw;

        transform: rotate(3.56deg) translateX(-5px) translateY(-4.86px);

        position: absolute;
        background-color: #D8D8D8;
        transition: 0.2s transform;
    }

    .card-container:hover .card-paper {
        transition: 0.2s transform, 0.2s min-width, 0.2s min-height;
        transform: rotate(4deg) translateX(-5.3px) translateY(-6px);
    }

    .card-container:hover .card-paper-shadow {
        transition: 0.2s;
        min-height: 41dvw;
        transform: rotate(1.56deg) translateX(-2px) translateY(-2px);
    }

    .card-container:active .card-paper {
        transform: rotate(1deg) translateX(0px) translateY(-2px);
    }

    .card-container:active .card-paper-shadow {
        min-height: 39dvw;
        min-width: 39dvw;
        opacity: 0.75;
        transform: rotate(1deg) translateX(-0.7px) translateY(-0.8px);
    }
}