.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards-page-title {
    width: 90vw;
    height: min-content;
    text-align: start;

    margin: 5.65vh 0 0 0;

    font-size: clamp(2.7vh, 12px, 14px);
}

.cards-page {
    height: max-content;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    width: 90vw;

    margin-top: 2.25rem;
    margin-bottom: 5vh;

    display: grid;
    gap: 2rem;
}

.card-container {
    aspect-ratio: 1/1;
    min-width: 180px;
    width: min-content;

    display: flex;
    justify-content: flex-end;

    /* border: dashed 1px red; */
    cursor: pointer;
}

.cards-container :is(a, button) {
    color: #212121;
    outline: none;
    border: none;
}

.cards-container :is(a, button):focus-visible {
    transition: 0.2s all;
    transform: scale(1.05);
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.card-paper-text {
    max-width: 150px;
    max-height: 150px;
    height: max-content;

    text-overflow: ellipsis;

    font-family: 'Covered By Your Grace', cursive;
    font-size: 25.41px;
    line-height: 25px;
    color: #212121;

    user-select: none;
    text-align: center;
}

.card-paper {
    aspect-ratio: 1/1;

    /* background-position: 1px;
    background-image:
        linear-gradient(180deg, #fafafa 12%, transparent 12%), repeating-linear-gradient(180deg, #91c1e1b9 0px, #91c1e1b9 1.5px, transparent 1px, transparent 24px); */


    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 160px;
    overflow: hidden;

    transform: rotate(7.35deg) translateX(-10px) translateY(-10px);

    position: absolute;
    background-color: #fafafa;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.1);

    transition: 0.2s transform, 0.2s min-width, 0.2s min-height, 0.2s box-shadow;
    cursor: pointer;

}

.card-paper-shadow {
    min-width: 157px;
    min-height: 170px;

    transform: rotate(3.56deg) translateX(-5px) translateY(-4.86px);

    border-radius: 14% 86% 2% 98% / 100% 0% 100% 0%;

    position: absolute;
    background-color: #D8D8D8;
    box-shadow: 0px 0px 7px #D8D8D8;

    transition: 0.2s transform, 0.2s min-width, 0.2s min-height, 0.2s box-shadow;
}

.card-container:hover .card-paper {
    box-shadow: 3px 3px 4px rgba(33, 33, 33, 0.1);
    transform: rotate(4deg) translateX(-5.3px) translateY(-6px);
}

.card-container:hover .card-paper-shadow {
    min-height: 167px;
    box-shadow: 0px 0px 2px #D8D8D8;
    transform: rotate(1.56deg) translateX(-2px) translateY(-2px);
}

.card-container:active .card-paper {
    box-shadow: 0px 0px 5px rgba(33, 33, 33, 0.1);
    transform: rotate(1deg) translateX(0px) translateY(-2px);
}

.card-container:active .card-paper-shadow {
    min-height: 157px;
    min-width: 157px;
    opacity: 0.75;
    box-shadow: 0px 0px 0px rgba(33, 33, 33, 0);
    transform: rotate(1deg) translateX(-0.7px) translateY(-0.8px);
}

.create-card-container {
    display: flex;
    gap: 1vh;

    flex-direction: column;

    padding: 2.5vh 4vh 4vh 4vh;
    height: min-content;

    max-width: 90vw;
    max-height: 90vh;

    background-color: #fafafa;
    border-radius: var(--button-generic-border-radius);
}

.create-card-container form {
    display: flex;
    flex-direction: column;
    gap: 1vh
}

.create-card-container :is(input, textarea) {
    user-select: none;
    touch-action: none;

    resize: none;

    padding: 0.9vh 0.5vh;

    border-radius: var(--button-generic-border-radius);
    outline: none;
    border: none;

    background: #fafafa;

    border: solid 0.1vh rgba(146, 146, 146, 0.719);

    font-size: 2vh;
    color: #212121;
}


@media (max-width: 460px) {
    .card-paper-text {
        max-width: 100%;
        max-height: 100%;

        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;

        font-family: 'Covered By Your Grace', cursive;
        font-size: clamp(100%, 25.41px, 200%);
        line-height: 25px;
        color: #212121;

        user-select: none;
        text-align: center;
    }

    .cards-container {
        width: 90vw;

        position: relative;
        left: 1.75vh;

        margin-top: 2.25rem;
        margin-bottom: 5vh;

        display: grid;
        place-items: center;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-container {
        aspect-ratio: 1/1;
        min-width: 40vw;
        width: min-content;

        display: flex;
        justify-content: flex-end;

        cursor: pointer;
    }

    .card-paper {
        aspect-ratio: 1/1;

        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 40vw;
        max-width: 40vw;

        transform: rotate(7.35deg) translateX(-10px) translateY(-10px);

        position: absolute;
        background-color: #fafafa;
        transition: 0.2s transform, 0.2s min-width, 0.2s min-height;
        cursor: pointer;
    }

    .card-paper-shadow {
        min-width: 40vw;
        min-height: 41vw;

        transform: rotate(3.56deg) translateX(-5px) translateY(-4.86px);

        position: absolute;
        background-color: #D8D8D8;
        transition: 0.2s transform, 0.2s min-width, 0.2s min-height;
    }

    .card-container:hover .card-paper {
        transform: rotate(4deg) translateX(-5.3px) translateY(-6px);
    }

    .card-container:hover .card-paper-shadow {
        transition: 0.2s;
        min-height: 41vw;
        transform: rotate(1.56deg) translateX(-2px) translateY(-2px);
    }

    .card-container:active .card-paper {
        transform: rotate(1deg) translateX(0px) translateY(-2px);
    }

    .card-container:active .card-paper-shadow {
        min-height: 39vw;
        min-width: 39vw;
        opacity: 0.75;
        transform: rotate(1deg) translateX(-0.7px) translateY(-0.8px);
    }
}